html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: rgb(0, 94, 5);
    position: absolute;
    top: 0;
    left: 0;
}

.world {
    width: 3000px;
    height: 3000px;
    position: absolute;
    /* Make sure these values are updated in the JS too */
    top: calc(100vh / 2 - 1500px);
    left: calc(100vw / 2 - 1500px);
    background-color: rgb(0, 133, 29);
}

.player {
    width: 82px;
    height: 72px;
    position: absolute;
    top: calc(100vh / 2 - 41px);
    left: calc(100vw / 2 - 36px);
    overflow: visible;
}

.player-invincible {
    opacity: 0.5;
}

.player-flipped {
    transform: scaleX(-1);
}

.ice-cream {
    overflow: visible;
}

.cone {
    fill: rgb(223, 191, 87) !important;
}

.scoop {
    fill: white;
}

.building, .brick, .window, .roof, .door, .dog, .enemy, .scoop, .cone, .powerup {
    fill: transparent;
    stroke-width: 2;
    stroke: black;
}

.door {
    fill: white;
}

.window {
    fill: grey;
}

.window + .window {
    fill: white;
}

.dog {
    fill: rgb(165, 81, 42);
}

.dog-cover {
    stroke: rgb(165, 81, 42);
}

.dog-body {
    transform-origin: 50% 50%;
}

.enemy {
    fill: yellow;
    overflow: visible;
}

.enemy-aggro {
    fill: orangered;
}

.window-pane {
    stroke: black;
    stroke-width: 2;
}

.door-text {
    font-size: 16px;
    font-family: "Crimson Text", serif;
}

.bar {
    background-color: rgb(142, 200, 248);
    color: black;
    position: fixed;
    width: calc(100% - 6px);
    bottom: 0;
    font-size: 15px;
    border-top: 2px solid black;
    padding: 3px;
    margin: 0;
}

.bar-row {
    display: flex;
    padding: 3px;
}

.bar .fa-paw, .bar .fa-ice-cream {
    font-size: 24px;
    padding: 3px;
}

@media screen and (max-width: 330px) {
    .bar .fa-paw, .bar .fa-ice-cream {
        display: none;
    }
}

.bar-hearts {
    color: red;
}

.bar-div {
    flex: 1 1 0;
    padding: 3px;
    height: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Acme", sans-serif;
}

.bar-score::before {
    content: "Score:\00a0";
}

.bar-deliver::before {
    content: "Deliver to:\00a0";
}

.bar-powerup::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* make sure these match the JS */
.bar-powerup-big::before {
    content: "\f0d8";
}

.bar-powerup-small::before {
    content: "\f0d7";
}

.bar-powerup-speed::before {
    content: "\f70c";
}

.bar-powerup-invincible::before {
    content: "\f005";
}

.bar-powerup-fly::before {
    content: "\f072";
}

.bar-powerup-big {
    background-color: red;
}

.bar-powerup-small {
    background-color: steelblue;
}

.bar-powerup-speed {
    background-color: purple;
}

.bar-powerup-invincible {
    background-color: yellow;
}

.bar-powerup-fly {
    background-color: white;
}

.powerup {
    overflow: visible;
}

.powerup text {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}

.powerup.powerup-big {
    fill: red;
}

.powerup.powerup-small {
    fill: steelblue;
}

.powerup.powerup-invincible {
    fill: yellow;
}

.powerup.powerup-fly {
    fill: white;
}

.powerup.powerup-speed {
    fill: purple;
}

.pointer-container {
    position: fixed;
    overflow: visible;
    bottom: 120px; right: 40px;
    width: 1px;
    height: 1px;
}