@font-face {
	font-family: 'Acme';
	font-style: normal;
	font-display: block;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/resources/Acme-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Crimson Text';
	font-style: normal;
	font-display: block;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/resources/CrimsonText-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    background-color: rgb(0, 94, 5);
    overflow: hidden;
    margin: 0;
    position: fixed;
}

body {
    background-color: rgb(0, 94, 5);
    width: 1200px;
    height: 675px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.world {
    width: 3000px;
    height: 3000px;
    position: absolute;
    /* Make sure these values are updated in the JS too */
    top: calc( 100% / 2 - 1500px);
    left: calc(100% / 2 - 1500px);
    background-color: rgb(0, 133, 29);
}

.player {
    width: 82px;
    height: 72px;
    position: absolute;
    top: calc( 100% / 2 - 41px);
    left: calc(100% / 2 - 36px);
    overflow: visible;
}

.player-invincible {
    opacity: 0.5;
}

.player-flipped {
    transform: scaleX(-1);
}

.ice-cream {
    overflow: visible;
}

.cone {
    fill: rgb(223, 191, 87) !important;
}

.scoop {
    fill: white;
}

.building, .brick, .window, .roof, .door, .dog, .enemy, .scoop, .cone, .powerup, .compass, .mat, .door-inside {
    fill: transparent;
    stroke-width: 2px;
    stroke: black;
}

.door, .compass {
    fill: white;
}

.door-inside {
    fill: tan;
}

.door-group {
    overflow: visible;
    transition: transform 1s ease;
}

.window {
    fill: grey;
}

.window + .window {
    fill: white;
}

.dog {
    fill: rgb(165, 81, 42);
}

.dog-cover {
    stroke: rgb(165, 81, 42);
}

.dog-body {
    transform-origin: 50% 50%;
}

.enemy {
    fill: yellow;
    overflow: visible;
}

.enemy-aggro {
    fill: orangered;
}

.window-pane {
    stroke: black;
    stroke-width: 2px;
}

.door-text {
    font-size: 20px;
    font-family: "Crimson Text", serif;
}

.mat {
    fill: gold;
}

.bar {
    background-color: rgba(142, 200, 248, 0.8);
    color: black;
    position: absolute;
    width: calc(100% - 6px);
    bottom: 10px;
    font-size: 15px;
    padding: 10px;
    margin: 0;
    max-width: 550px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s;
}

.bar-column {
    display: inline-block;
}

.bar-row {
    display: flex;
    padding: 3px;
    justify-content: center;
}

.bar-column:nth-child(1) {
    width: calc(100% - 60px);
}

.bar-hearts {
    color: red;
}

.bar-div {
    flex: 1 1 0;
    padding: 3px;
    height: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Acme", sans-serif;
}

.bar-score::before {
    content: "Score:\00a0";
}

.bar-hi-score::before {
    content: "High Score:\00a0";
}

.bar-deliver::before {
    content: "Deliver to:\00a0";
}

.bar-money::before {
    content: "Money:\00a0$";
}

.bar .fa-ice-cream {
    flex: 1 1 0;
    text-align: right;
}

.bar .fa-ice-cream:first-child {
    text-align: left;
}

.bar-powerup {
    height: 13px;
    font-size: 12px;
    max-width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 35px;
}

.bar-row:nth-child(2) .fa-paw, .bar-row:nth-child(2) .fa-ice-cream {
    font-size: 13px;
}

.bar-powerup::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* make sure these match the JS */
.bar-powerup-big::before {
    content: "\f0d8";
}

.bar-powerup-small::before {
    content: "\f0d7";
}

.bar-powerup-speed::before {
    content: "\f70c";
}

.bar-powerup-invincible::before {
    content: "\f005";
}

.bar-powerup-fly::before {
    content: "\f072";
}

.bar-powerup-big {
    background-color: red;
}

.bar-powerup-small {
    background-color: steelblue;
}

.bar-powerup-speed {
    background-color: purple;
}

.bar-powerup-invincible {
    background-color: yellow;
}

.bar-powerup-fly {
    background-color: white;
}

.powerup {
    overflow: visible;
}

.powerup text {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}

.powerup.powerup-big {
    fill: red;
}

.powerup.powerup-small {
    fill: steelblue;
}

.powerup.powerup-invincible {
    fill: yellow;
}

.powerup.powerup-fly {
    fill: white;
}

.powerup.powerup-speed {
    fill: purple;
}

.pointer-container {
    /*position: absolute;*/
    overflow: visible;
    /*bottom: 120px; right: 40px;*/
    width: 1px;
    height: 1px;
    position: relative;
    top: -21px;
    left: 30px;
}

.menu {
    background-color: rgba(142, 200, 248, 0.8);
    position: absolute;
    width: 350px;
    font-family: Acme;
    top: calc( 100% / 2 );
    left: calc(100% / 2);
    transform: translateY(-50%)translateX(-50%);
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 0.5s;
    position: relative;
}

.menu-hidden {
    opacity: 0;
}

.menu-frame {
    display: none;
}

.menu-frame-main {
    display: block;
}

.menu-title {
    font-size: 35px;
    /*outline-color:  steelblue;*/
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    color: rgb(85, 161, 223);
    letter-spacing: 1.75px;
}

.menu-subtitle {
    font-size: 16px;
}

.menu-buttons {
    margin-top: 20px;
}

.menu-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: rgb(85, 161, 223);
    border-radius: 15px;
    width: 50px;
    font-size: 25px;
    box-shadow: 0 4px rgb(42, 108, 161);
    cursor: pointer;
}

.menu-hidden .menu-button {
    cursor: default;
}

.menu-button:active, .menu-high-scores-time-button-selected {
    position: relative;
    top: 5px;
    box-shadow: 0 0;
}

.menu-button-play {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    font-size: 35px;
    margin-bottom: 15px;
}

.menu-credits, .menu-instructions, .menu-high-scores-times {
    margin-top: 20px;
}

.menu-credits a {
    color: black;
    text-decoration: none;
}

.menu-credits img {
    height: 20px;
    margin-top: 10px;
}

.menu-credits-game103 {
    font-size: 12px;
}

.menu-button-back {
    display: none;
    position: absolute; 
    top: 10px;
    left: 10px;
}

.menu-button-back:active {
    position: absolute;
    top: 15px;
}

.menu-instructions-sub-title {
    margin-top: 10px;
}

.menu-instructions-column {
    display: inline-block;
    margin: 5px;
    width: 100px;
}

@keyframes hand-move {
    0% { top: 0; left: 0; }
    25% { top: -22px; left: 0 }
    50% { left: 22px; top: -22px }
    75% { top: 0; left: 22px }
    100% { top: 0; left: 0; }
}

.menu-instructions-column-hand i {
    font-size: 25px;
    position: relative;
    animation-name: hand-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.menu-instructions-key {
    width: 22px;
    height: 22px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 22px;
    display: inline-block;
    margin: 2px;
}

.menu-instructions-key:first-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-instructions-powerup-container {
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.menu-high-scores-time-button {
    width: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.menu-high-scores-table {
    border: 2px solid black;
    width: calc(100% - 54px);
    height: 175px;
    overflow-y: auto;
    padding: 15px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-overflow-scrolling: touch;
}

.menu-high-scores-table-row {
    display: flex;
}

.menu-high-scores-table-column {
    display: inline-block;
    text-align: left;
}

.menu-high-scores-table-column:nth-child(1) {
    margin-right: 10px;
}

.menu-high-scores-table-column:nth-child(2) {
    flex-grow: 1;
}

.menu-high-scores-info-username::before {
    content: "Your Username:\00a0";
}

.menu-high-scores-info-local-high-score::before {
    content: "Your High Score on This Device:\00a0";
}

.menu-high-scores-info-account-change {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
}

.menu-high-scores-info label {
    display: block;
    margin-top: 5px;
}

.menu-high-scores-info label span {
    display: inline-block;
    width: 80px;
}

.menu-high-scores-info input {
    width: 170px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    padding: 5px;
    font-family: Acme, "sans-serif";
}

.menu-high-scores-info-update-account, .menu-high-scores-info-login-account {
    margin-top: 10px;
    width: 50px;
}

.menu-high-scores-info-update-account {
    margin-right: 15px;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.fa-spinner {
    animation-name: spin;
    animation-duration: 1.5s;
}

.pause-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    opacity: 0.6;
}

.pause-button:active {
    position: absolute;
    top: 15px;
}

.message-success {
    color: rgb(22, 80, 22);
}

.message-failure {
    color: rgb(180, 0, 0);
}